extends ../../views/base.pug

block append scripts

  if cookieOptOut.acceptAnalytics
    script(
      id="recaptchaAPI"
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    )
  script(type="text/javascript" src="/projects/tactics-board/static/js/dompurify.bundle.js")
  script(type="text/javascript" src="/projects/tactics-board/static/js/tactics-main.bundle.js")

block content

  div(class="position-relative container-fluid px-0")
    header(class="row p-4 g-0")
      h1(class="display-3") Delete Tactics Board

    -
      var deleteName = "dPhone";
      var advancedName = "dEmail";
      var deleteError, deletionError, recaptchaError;
      if (errors) {
        deleteError = errors.find(el => el.param === deleteName);
        deletionError = errors.find(el => el.param === "deletion");
        recaptchaError = errors.find(el => el.param === "g-recaptcha-response");
      }
    noscript: div(class="alert alert-danger px-4 mb-0") JavaScript must be enabled to delete a board.
    if !cookieOptOut.acceptAnalytics
      div(class="analyticsCookieNotice")
        p(class="alert alert-danger px-4 mb-0") Cookie settings must be set to accept analytics cookies to load all elements.
    else if deletionError
      div(class="alert alert-danger px-4 mb-0" id="dErrorDiv") #{deletionError.msg}
    else if recaptchaError
      div(class="alert alert-danger px-4 mb-0" id="dErrorDiv") #{recaptchaError.msg}
    else if errors
      div(class="alert alert-danger px-4 mb-0" id="dErrorDiv") There are errors marked below:

  div(class="bg-light g-0 pt-4 px-4")
    form(
      method="POST"
      id="4-2-form"
    )
      input(type="hidden" name="time" value=timeOfLoad)
      input(type="hidden" name="_csrf" value=csrfToken)
      div(class="pb-3")
        p Are you sure you want to delete this board?
        div(class="advanced-form mb-4")
          label(class="form-label" for=advancedName) Email
          input(
            type="text"
            class="form-control"
            name=advancedName
            id=advancedName
            value=(selected) ? selected.dEmail : ""
            maxlength="50"
            autocomplete="off"
            tabindex="-1"
          )
        input(
          type="hidden"
          name=deleteName
          value="true"
          aria-describedby=(deleteError) ? `${deleteName}Feedback` : "undefined"
        )
        button(
          type="submit"
          class="btn btn-danger me-2 mb-2 g-recaptcha"
          data-sitekey=recaptchaSiteKey
          data-callback="deleteBoardSubmit"
          data-action="delete"
        ) Delete Board
        a(
          class="btn btn-outline-danger me-2 mb-2" 
          href=`/return?b=${back}`
        ) Cancel
        if deleteError
          div(class="input-group")
            span(class="is-invalid")
            div(id=`${deleteName}Feedback` class="invalid-feedback") #{deleteError.msg}
